body nav .nav-about {
  text-decoration: underline !important;
}

body footer {
  background-color: #272A31;
}

body footer p {
  color: white;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body main .about-container {
  padding: 150px 10vw;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .about-container .title h1 {
  font-family: "COCOGOOSE", san-serif;
  color: #EC5242;
  font-size: 50px;
}

body main .about-container p,
body main .about-container a {
  font-family: "Lato", san-serif;
}

body main .about-container a {
  color: #EC5242;
  text-decoration: none;
  text-transform: none;
}

body main .about-container > p {
  margin-top: 15px;
  font-size: 24px;
}

body main .about-container .about-text {
  border: 1px solid #272A31;
  color: #272A31;
  background-color: white;
  width: 60%;
  padding: 50px;
  font-size: 20px;
}

body main #logo-about {
  padding: 150px 10vw;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: 2px solid #D3D3D3;
}

body main #logo-about h3 {
  font-family: "Lato", san-serif;
  font-size: 2vw;
  font-weight: 800;
}

body main #logo-about p {
  font-family: "Lato", san-serif;
  margin-bottom: 25px;
}

body main #logo-about img {
  width: 30vw;
}

body main #past-cons {
  padding: 150px 10vw;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

body main #past-cons h3 {
  font-family: "Lato", san-serif;
  font-size: 2vw;
  font-weight: 800;
}

body main #past-cons p {
  font-family: "Lato", san-serif;
  margin-bottom: 50px;
}

body main #past-cons #past-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #past-cons #past-cards * {
  -webkit-transition: 450ms;
  transition: 450ms;
}

body main #past-cons #past-cards a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vw;
  width: 30vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 15px;
}

body main #past-cons #past-cards a .orange {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 30, 0, 0.822);
  height: 100%;
  opacity: 0.7;
}

body main #past-cons #past-cards a img {
  max-width: 100%;
}

body main #past-cons #past-cards a:hover .orange {
  background-color: #ff1e00;
}
/*# sourceMappingURL=about.css.map */