@import "./variables";

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .description {
        padding: 250px 10vw;
        text-align: center;
        width: 100%;
        h3 {
            font-family: $primaryFont;
            font-weight: 100;
            color: $blackColor;
            font-size: 25px;
        }
        p {
            font-family: $secondaryFont;
            font-size: 21px;
            padding: 15px 0;
            .SpaYco {
                color: $redColor;
            }
        }
    }
    .events {
        padding: 150px 10vw;
        width: 100%;
        background: $blackColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            color: white;
        }
        .cards-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .event-cards {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                height: 20vw;
                width: 25vw;
                margin: 0 10px;
                cursor: pointer;
                img {
                    bottom: 0;
                    top: 0;
                    right: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    filter: blur(0px);
                    position: absolute;
                    z-index: 1;
                    transition: 250ms;
                    object-fit: cover;
                }
                h3 {
                    color: white;
                    font-family: $primaryFont;
                    z-index: 2;
                    margin-bottom: 0;
                    font-size: 2.5vw;
                    transition: 250ms;
                }
                .orange, .purple, .blue {
                    position: absolute;
                    z-index: 2;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    transition: 250ms;
                }
                .orange {
                    background: linear-gradient(0deg, rgba(255,69,0,1) 0%, rgba(255,69,0,0.7203256302521008) 31%, rgba(255, 68, 0, 0) 100%);
                }
                .purple {
                    background: linear-gradient(0deg, rgba(255,0,236,1) 0%, rgba(196,0,255,0.7203256302521008) 31%, rgba(119,0,255,0) 100%);
                }
                .blue {
                    background: linear-gradient(0deg, rgb(0, 38, 255) 0%, rgba(0, 38, 255, 0.72) 31%, rgba(119,0,255,0) 100%);
                }
                &:hover {
                    .orange, .purple, .blue {
                        opacity: 1;
                    }
                    h3 {
    
                    margin-bottom: 25px;
                    }
                    img {
                        filter: blur(2px);
                    }
                }
            }
        }
    }
    .people {
        padding: 150px 10vw;
        width: 100%;
        background: $grayColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            color: $blackColor;
        }
        .people-cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            * {
                transition: 350ms;
            }
            .people-cards {
                margin: 2.5%;
                max-width: 20%;
                height: 25vw;
                flex: 25%;
                display: flex;
                flex-direction: column;
                img {
                    width: 100%;
                    height: 70%;
                    border: 2px solid $blackColor;
                    border-bottom: none;
                    object-fit: cover;
                    object-position: 50% 0; 
                }
                a {
                    display: block;
                    color: $blackColor;
                    font-family: $primaryFont;
                    text-decoration: none;
                    width: 100%;
                    text-align: center;
                    background-color: $redColor;
                    border: 2px solid $blackColor;
                    border-top: none;
                    padding: 5px 0;
                }
                &:hover {
                    img {
                        border-color: $redColor;
                    }
                    a {
                        border-color: $redColor;
                        color: white;
                    }
                }
            }
        }
    }
    .credits {
        padding: 75px 10vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $blackColor;
        .title {
            color: white;
        }
        .credit-pics {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 25%;
                max-height: 150px;
                flex: 25%;
                padding: 0 35px;
                object-fit: contain;
            }
        }
    }
}
footer {
    p {
        color: $blackColor;
    }
}