main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main #description {
  padding: 250px 10vw;
  text-align: center;
  width: 100%;
}

main #description h3 {
  font-family: "COCOGOOSE", san-serif;
  font-weight: 100;
  color: #272A31;
  font-size: 25px;
}

main #description p {
  font-family: "Lato", san-serif;
  font-size: 21px;
  padding: 15px 0;
}

main #description p .SpaYco {
  color: #EC5242;
}

main #events {
  padding: 150px 10vw;
  width: 100%;
  background: #272A31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #events .title {
  color: white;
}

main #events .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #events .cards-container .event-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 20vw;
  width: 25vw;
  margin: 0 10px;
  cursor: pointer;
}

main #events .cards-container .event-cards img {
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  position: absolute;
  z-index: 1;
  -webkit-transition: 250ms;
  transition: 250ms;
  -o-object-fit: cover;
     object-fit: cover;
}

main #events .cards-container .event-cards h3 {
  color: white;
  font-family: "COCOGOOSE", san-serif;
  z-index: 2;
  margin-bottom: 0;
  font-size: 2.5vw;
  -webkit-transition: 250ms;
  transition: 250ms;
}

main #events .cards-container .event-cards .orange, main #events .cards-container .event-cards .purple, main #events .cards-container .event-cards .blue {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 250ms;
  transition: 250ms;
}

main #events .cards-container .event-cards .orange {
  background: -webkit-gradient(linear, left bottom, left top, from(orangered), color-stop(31%, rgba(255, 69, 0, 0.720326)), to(rgba(255, 68, 0, 0)));
  background: linear-gradient(0deg, orangered 0%, rgba(255, 69, 0, 0.720326) 31%, rgba(255, 68, 0, 0) 100%);
}

main #events .cards-container .event-cards .purple {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff00ec), color-stop(31%, rgba(196, 0, 255, 0.720326)), to(rgba(119, 0, 255, 0)));
  background: linear-gradient(0deg, #ff00ec 0%, rgba(196, 0, 255, 0.720326) 31%, rgba(119, 0, 255, 0) 100%);
}

main #events .cards-container .event-cards .blue {
  background: -webkit-gradient(linear, left bottom, left top, from(#0026ff), color-stop(31%, rgba(0, 38, 255, 0.72)), to(rgba(119, 0, 255, 0)));
  background: linear-gradient(0deg, #0026ff 0%, rgba(0, 38, 255, 0.72) 31%, rgba(119, 0, 255, 0) 100%);
}

main #events .cards-container .event-cards:hover .orange, main #events .cards-container .event-cards:hover .purple, main #events .cards-container .event-cards:hover .blue {
  opacity: 1;
}

main #events .cards-container .event-cards:hover h3 {
  margin-bottom: 25px;
}

main #events .cards-container .event-cards:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

main #people {
  padding: 150px 10vw;
  width: 100%;
  background: #D3D3D3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #people .title {
  color: #272A31;
}

main #people .people-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #people .people-cards-container * {
  -webkit-transition: 350ms;
  transition: 350ms;
}

main #people .people-cards-container .people-cards {
  margin: 2.5%;
  max-width: 20%;
  height: 400px;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #people .people-cards-container .people-cards img {
  width: 100%;
  height: 91%;
  border: 2px solid #272A31;
  border-bottom: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

main #people .people-cards-container .people-cards a {
  display: block;
  color: #272A31;
  font-family: "COCOGOOSE", san-serif;
  text-decoration: none;
  width: 100%;
  height: 9%;
  text-align: center;
  background-color: #EC5242;
  border: 2px solid #272A31;
  border-top: none;
  padding: 5px 0;
}

main #people .people-cards-container .people-cards:hover img {
  border-color: #EC5242;
}

main #people .people-cards-container .people-cards:hover a {
  border-color: #EC5242;
  color: white;
}

main #credits {
  padding: 75px 10vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #272A31;
}

main #credits .title {
  color: white;
}

main #credits .credit-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #credits .credit-pics img {
  width: 20vw;
  max-height: 150px;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 0 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer p {
  color: #272A31;
}

@media all and (max-width: 768px) {
  main #events .cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #events .cards-container .event-cards {
    margin: 25px 0;
    width: 80vw;
    height: 80vw;
  }
  main #events .cards-container .event-cards h3 {
    font-size: 5.5vw;
  }
  main #people .people-cards-container .people-cards {
    -webkit-box-flex: 95%;
        -ms-flex: 95%;
            flex: 95%;
    max-width: 95%;
    width: 95%;
    height: 500px;
  }
  main #people .people-cards-container .people-cards img {
    height: 93%;
  }
  main #people .people-cards-container .people-cards a {
    height: 7%;
  }
  main #credits .credit-pics img {
    height: 60px;
    padding: 0 5px;
  }
}
/*# sourceMappingURL=index.css.map */