@import "./fonts";
$blackColor: #272A31;
$grayColor: #D3D3D3;
$redColor: #EC5242;
$primaryFont: "COCOGOOSE", san-serif;
$secondaryFont: "Lato", san-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: $grayColor ;
}

header {
    background: $blackColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 55px;
    > * {
        padding: 0 10px;
    }
    i {
        color: $grayColor;
    }
    a {
        color: $grayColor;
        text-decoration: underline;
        text-decoration-color: transparent;
        font-family: $secondaryFont;
        transition: ease-in-out 0.5s;
        &:hover {
            text-decoration-color: $grayColor;
        }
    }
}
nav {
    background-color: white;
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        font-size: 25px;
        padding: 0 25px;
    }
    img {
        max-height: 90px;
    }
    .nav-links {
        .nav-about {
            color: $blackColor;
            font-family: $secondaryFont;
            text-decoration: underline;
            text-decoration-color: transparent;
            font-weight: 400;
            text-shadow: 0px 0px 15px transparent;
            transition: ease-in-out 450ms;
            &:hover {
                text-decoration-color: $blackColor;
            }
        }
        .nav-tickets {
            border: 5px solid $redColor;
            border-radius: 15px;
            background-color: transparent;
            color: $redColor;
            font-family: $primaryFont;
            text-decoration: none;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: ease-in-out  0.5s;
            &:hover {
                color: white;
                background-color: $redColor;
            }
        }
    }
}



