@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
}

body {
  background: #D3D3D3;
}

body .title {
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .title h3 {
  font-family: "COCOGOOSE", san-serif;
  font-size: 1.5vw;
  min-width: 105px;
}

body .title hr {
  margin-top: 10px;
  border: 2px solid #EC5242;
  border-radius: 5px;
  width: 3vw;
  -webkit-transition: ease-out 350ms;
  transition: ease-out 350ms;
}

body .title:hover hr {
  width: 95%;
}

body header {
  background: #272A31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10vw;
}

body header > * {
  padding: 0 10px;
}

body header i {
  color: #D3D3D3;
}

body header a {
  color: #D3D3D3;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  font-family: "Lato", san-serif;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

body header a:hover {
  -webkit-text-decoration-color: #D3D3D3;
          text-decoration-color: #D3D3D3;
}

body nav {
  background-color: white;
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 25px -2px #555555;
          box-shadow: 0 4px 25px -2px #555555;
}

body nav i {
  display: none !important;
}

body nav a {
  font-size: 25px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  font-family: "COCOGOOSE", san-serif;
  color: #272A31;
}

body nav a p {
  padding-left: 5px;
  text-transform: none;
  -webkit-transition: ease-in-out 900ms;
  transition: ease-in-out 900ms;
}

body nav a img {
  max-height: 100px;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: ease-in-out 1200ms;
  transition: ease-in-out 1200ms;
}

body nav a:hover img {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

body nav a:hover p {
  padding-left: 10px;
}

body nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body nav .nav-links .nav-about {
  color: #272A31;
  font-family: "Lato", san-serif;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  font-weight: 400;
  text-shadow: 0px 0px 15px transparent;
  -webkit-transition: ease-in-out 450ms;
  transition: ease-in-out 450ms;
}

body nav .nav-links .nav-about:hover {
  -webkit-text-decoration-color: #272A31;
          text-decoration-color: #272A31;
}

body nav .nav-links .nav-tickets {
  border: 5px solid #EC5242;
  border-radius: 15px;
  background-color: transparent;
  color: #EC5242;
  font-family: "COCOGOOSE", san-serif;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: ease-in-out  0.5s;
  transition: ease-in-out  0.5s;
}

body nav .nav-links .nav-tickets:hover {
  color: white;
  background-color: #EC5242;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 10vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body footer img {
  max-width: 20%;
  margin-right: 25px;
}

body footer p {
  font-family: "Lato", san-serif;
}

@media all and (max-width: 768px) {
  body header {
    display: none;
  }
  body .title h3 {
    font-size: 5vw !important;
  }
  body nav {
    background: transparent;
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
            box-shadow: 0px 0px 0px 0px transparent;
    padding: 0;
  }
  body nav i {
    display: block !important;
    font-size: 45px;
    color: #272A31;
    margin: 25px;
    cursor: pointer;
  }
  body nav #toggle-btn {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  body nav .toggle {
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 1vw;
    width: 20vw;
    font-size: 3vw;
    padding: 0;
  }
  body nav .toggle img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */